.git
.gitignore
**/__pycache__
**/.pytest_cache
backend/venv
backend/**/*.pyc
frontend/node_modules
frontend/.next
frontend/dist
*.md
!manual_usuario/img/**
manual_usuario/*.pdf
docs/*.pdf
utils/pandocquiles/documentacion
